@font-face {
  font-family: SFProDisplay;
  src: url('/public/fonts/SFPRODISPLAYREGULAR.OTF');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/public/fonts/SFPRODISPLAYMEDIUM.OTF');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/public/fonts/SFPRODISPLAYBOLD.OTF');
  font-weight: 700;
  font-style: normal;
}

.headline-1 {
  font: normal normal 200 96px/168px SFProDisplay;
  letter-spacing: -1.5px;
}
.headline-2 {
  font: normal normal 200 60px/104px SFProDisplay;
  letter-spacing: -0.5px;
}
.headline-3 {
  font: normal normal 200 48px/84px SFProDisplay;
}
